<div class="container col-md-6">

<!--Template Driven Form or Model Driven Form?-->
<form [formGroup]="screeningForm" (ngSubmit)="onSubmit()">
  <div>
    <div class="form-group card col-md-6" *ngFor='let question of firstScreeningQestions'>
      <div class="row">
        <div>{{question.question}}</div>
        <div>
          <label class="md-check lead">
          <input type="radio" formControlName="{{question.group}}" value="yes" name="{{question.group}}" />
          Yes
          </label>
        </div>
        <div>
          <label class="md-check lead">
          <input type="radio" formControlName="{{question.group}}" value="no" name="{{question.group}}" />
          No
          </label>
        </div>
      </div>
    </div>

    <div class="form-group card col-md-6" *ngFor='let question of secondQuestionnaire'>
      <div class="row">
        <div>{{question.question}}</div>
        <div *ngFor='let answer of question.answers'>
          <label class="md-check lead">
          <input type="radio" formControlName="{{question.group}}" value="{{answer.value}}" name="{{question.group}}" />
          {{answer.answer}}
          </label>
        </div>
      </div>
    </div>



  </div>

  <button [disabled]='!screeningForm.valid' type="submit" class="btn btn-primary pull-right">
    Submit
  </button>
</form>
</div>